.footer {
  background: var(--color-blue-900);
  padding-block: 24px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.footer .logo {
  width: calc(79.29 / 16 * 1rem);
} */

/* tablet media query
@media (width >= 50.625em) {
  .wrapper {
    padding-block: 24px;
  }
}*/

/* desktop media query 
@media (width >= 75em) {
  .footer .logo {
    width: calc(111 / 16 * 1rem);
  }
} */
