.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

/* tablet media query*/
@media (width >= 50.625em) {
  .wrapper {
    padding-block: 24px;
  }
}
