.hero {
  display: grid;
  row-gap: 48px;
  padding-block: 64px;
}

.hero h1 {
  font-size: var(--fs-1);
  color: var(--color-blue-900);
}

.hero p {
  margin-block: 24px 40px;
}

.hero picture {
  max-width: calc(600 / 16 * 1rem);
  justify-self: center;
  margin-left: -20px;
  margin-right: -20px;
  pointer-events: none;
}

/* tablet media query*/
@media (width >= 50.625em) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  .hero__text {
    padding-block: 42px;
    padding-inline-end: 0;
  }
  .hero picture {
    max-width: none;
    position: absolute;
    right: 0;
    translate: 42% -24%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* desktop media query */
@media (width >= 75em) {
  .hero__text {
    padding-block: 110px;
  }

  .hero picture {
    max-width: 1040px;
    translate: 47% -27%;
  }
}
